# DeepBook Risk Console runtime configuration
VITE_SUI_NETWORK=testnet
VITE_SUI_RPC_URL=https://fullnode.testnet.sui.io:443
VITE_DEEPBOOK_POOL_KEY=SUI_DBUSDC
VITE_DEEPBOOK_MANAGER_KEY=MANAGER_1
VITE_DEEPBOOK_BALANCE_MANAGER_ID=
VITE_DEEPBOOK_TRADE_CAP_ID=
VITE_GUARD_PACKAGE_ID=
VITE_GUARD_POLICY_ID=
VITE_DEEPBOOK_INDEXER_URL=https://deepbook-indexer.testnet.mystenlabs.com/
DEEPBOOK_INTEGRATION_DEPOSIT_SUI=1.2
DEEPBOOK_INTEGRATION_MIN_BALANCE_MIST=2000000000
DEEPBOOK_INTEGRATION_DRY_RUN=0
SUI_SECRET_KEY=
